.hero-nosotros {
  min-height: 80vh; /* ocupa 80% de la pantalla */
  background: linear-gradient(
      rgba(0,0,0,0.6), 
      rgba(0,0,0,0.6)
    ),
    url("/assets/img/portadas/portada05.png") center/cover no-repeat;
  padding: 4rem 1rem;
}



/* Tabs normales */
.custom-tab {
  color: #bb3232 !important; /* rojo Pizza Juntos */
  font-weight: 600;
  border-radius: 0;
}

/* Sobrescribir Bootstrap cuando están activos */
.nav-pills .nav-link.active.custom-tab,
.nav-pills .show > .nav-link.custom-tab {
  background-color: #bb3232 !important; /* rojo Pizza Juntos */
  color: #fff !important;
  position: relative;
}

/* Flechita abajo */
.nav-pills .nav-link.active.custom-tab::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: #bb3232 transparent transparent transparent;
}

/* Cápsula de tiempo */
#carruselNosotros img {
  object-fit: cover;
  height: 500px; /* ajustalo según tu diseño */
}
